Package: gofer-dbgsym
Source: gofer
Version: 0.9.2-1
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Isaac Roll <iroll@sdf.org>
Installed-Size: 2835
Depends: gofer (= 0.9.2-1)
Section: debug
Priority: optional
Description: debug symbols for gofer
Build-Ids: 40818429016233f287fb85bafc0d31c01c74d9ef cc0a69af075d9d777545e7ada39077e7538d4a8c
