body {
    font-family: 'Consolas' monospace;
}
    
#icon {
  float: left;
}

#input {
}

input[id="port"] {
    width:50px;
}

input[id="host"] {
    width:150px;
}


#output {
  white-space: pre;
  -webkit-user-select: text;
  height: 500px;
  overflow-y: scroll;
}

._0 {
  color:blue;
}

._1 {
  color:red;
}
