html {
}

#icon {
  float: left;
}

#input {
  font-family: 'Consolas' monospace;
}

#output {
  font-family: 'Consolas' monospace;
  white-space: pre;
  -webkit-user-select: text;
  height: 500px;
  overflow-y: scroll;
}

._0 {
  color:blue;
}

._1 {
  color:red;
}
